.product {
	&-header {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 0;
	}
	&-table {
		width: 100%;
		max-width: 70vw;
		text-align: right;
		border: 1px solid #eee;
		max-height: calc(100vh - 120px);
		overflow-y: scroll;
		& thead {
			position: sticky;
			top: 0;
			background-color: white;
		}
		& th {
			text-align: center;
		}
		& th,
		& td {
			border: 1px solid #eee;
			padding: 8px 1rem;
		}
		&-actions button {
			margin: 0 auto;
		}
		&-container {
			max-height: calc(100vh - 120px);
			overflow-y: scroll;
		}
	}
	&-name {
		text-align: left;
	}
}
