.templates {
    &-table {
        width: 100%;
        max-width: 70vw;
        text-align: center;
        border: 1px solid #eee;
        & th, & td {
            border: 1px solid #eee;
            padding: 8px 1rem;
        };
        &-actions button{
            margin: 0 auto;
        }
    }
}