.dashboardinput {
	width: 100%;

	label {
		display: block;
		color: #464457;
		font-size: 0.9em;
		font-family: 'Avenir_Roman';
		margin-bottom: 0.6em;
	}

	input {
		display: block;
		color: #464457;
		padding: 1em 1.2em;
		font-size: 0.9em;
		font-family: 'Avenir_Roman';
		height: 3.2em;
		background-color: #fef9f9;
		border: 1px solid #e2e5ec;
		border-radius: 5px;
		width: 100%;
	}
}
