.dashboard-text-area {
  width: 100%;

  label {
    display: block;
    color: #464457;
    font-size: 1em;
    margin-bottom: 0.6em;
  }

  textarea {
    display: block;
    resize: none;
    height: 7em;
    color: #464457;
    font-size: 1em;
    padding: 1em 1.2em;
    background-color: #fef9f9;
    border: 1px solid #e2e5ec;
    border-radius: 5px;
    width: 100%;
  }
}
