.dashboard-select {
  width: 100%;
  margin-bottom: 1em;
  span {
    display: flex;
    color: #464457;
    font-size: 1em;
    margin-bottom: 0.6em;
  }

  .dash-select-search {
    position: relative;
    font-size: 1em;
    width: 100%;
    margin: 0;
    div {
      &:focus {
        outline: none;
      }
    }
    .css-yk16xz-control {
      min-height: 30px !important;
      height: 3.1em !important;
      background-color: #fef9f9;
      border: 1px solid #e2e5ec;
      border-radius: 5px;
    }
    .css-1pahdxg-control {
      background-color: #fef9f9;
      border: 1px solid #e2e5ec;
      border-radius: 5px;
      box-shadow: none !important;
      outline: none !important;
      min-height: 30px !important;
      height: 3.1em !important;
    }
  }
}
