.dashboardbutton {
	min-width: 8em;
	height: 2.9em;
	text-align: center;
	border: 1px solid #c66;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	background-color: transparent;
	cursor: pointer;
	span {
		font-family: 'Avenir_Heavy';
		font-size: 0.9em;
		color: #c66;
	}
}
.grey {
	border: 1px solid #a6aab4;
	span {
		color: #a6aab4;
	}
}

.colored-blue {
	background-color: #c66;
	border-color: #c66;
	span {
		color: #fff;
	}
}

.colored-grey {
	background-color: #a6aab4;
	border-color: #a6aab4;
	span {
		color: #fff;
	}
}
